.landing-container {
    background-image: url('../../images/pic3.png');
    background-size: cover;
    background-position: bottom-center;
    height: 100vh;
    width: 100vw;
    /* position: absolute;  */
  }
  
  .landing-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); /* Adjust the alpha value for transparency */
  }
  .title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 5rem;
    color: #ffffff; /* Adjust the color as needed */
    text-align: center;
    /* margin-top: 100px;  */
  }
  
*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
font-family: 'Roboto Slab', serif;
  }
  .text{
    position: absolute;
    top: 50%;
    left: 4%; /* Adjust as needed for desired distance from the left edge */
    transform: translate(0, -50%);
    text-align: left; /* Set text alignment to left */
    color: #fff; /* Adjust text color as needed */
    font-family: 'EB Garamond', serif;
    /* font-family: 'Ubuntu', sans-serif; */
  }
  
  .text h1 {
    font-size: 5rem;
    margin-bottom: 4px; 
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Roboto Slab', serif;
  }
  
   .typewriter {
    font-size: 70px;
    margin-left: 50px;
    /* color: blue; */
    position: relative;
     /* -webkit-text-stroke:1px #fff;  */
    color: transparent;  
    background-image: linear-gradient(#0a3ea5,#0a3ea5);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -800px 0;
    
    animation: backcolor 5s linear infinite alternate;  


  } 
  @keyframes backcolor{
    100%{
        background-position: 0 0;
    }

  }
  
  
  .button-container{
    /* display: flex; */
    align-items: center;
    margin-left: 230px;
    margin-top: 20px;
    
    
  }
  .button {
    padding: 12px 20px;
    font-size: 18px;
    color: #ffffff;
    border: 2px solid #054f99;
    cursor: pointer;
    border-radius: 35px;
    background: linear-gradient(to right , transparent 50%,#0a3ea5 50%);
    background-size: 200%;
    background-position: left;  
    transition: background-position 0.5s;
}
button:hover{
    background-position: right;
    color: #f3f0f0;
}
  
  